/*
	₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪
	CORPO DO SITE
*/

body{
    background: url('Imagens/bg/site.jpg') #231a17 repeat-x;
    margin: 0px 0px 30px 0px;
    font-family: Verdana, Arial;
    font-size: 14px;
}
#corpo-site{
    background-image: url('Imagens/bg/bgContent.png');
    width: 800px;
    margin: 0px auto;
    border: 1px solid #000;
}

/*
	₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪
	TOPO DO SITE
*/
#logomarca{
    margin: 25px 0px 0px 15px;
    float: left;
	width: 178px;
	height: 146px;
    background: url('Imagens/topo/logo.png') no-repeat;
}
#titulo-logo{
	float: left;
	width: 118px;
	height: 49px;
	background: url('Imagens/topo/jeitao.png') no-repeat;
	margin: 103px 0px 0px 10px;
}
/* PARTE DO PLAYER - DEPOIS VAI SER SUBSTITUIDO PELO FLASH ₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪*/
	#player-group{
		margin: 98px 0px 0px 15px;
		background: url('Imagens/bg/fundoRadio.png') no-repeat;
		width: 157px;
		height: 60px;
		float: left;
	}
	#player-group #sanfona{
		background: url('Imagens/topo/sanfona.png') no-repeat;
		width: 118px;
		height: 100px;
		float: right;
		position: relative;
		margin: -28px -67px auto;
	}
	#player-group #panel-player{
		float: left;
		font-size: 7pt;
		font-family: "Lucida Console", "Arial";
		color: #B6B09A;
		padding: 8px;
	}
	#player-group #panel-musica{
		width: 140px;
		font-size: 7pt;
		font-family: "Lucida Console", "Arial";
		color: #454132;
		float: left;
		margin: 8px auto;
		padding-left: 5px;
	}
/*₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪*/
#login-group{
	width: 190px;
	height: 93px;
	float: left;
	margin: 62px 0px 0px 90px;
}
#login-group  #login-panel{
	margin: 5px auto;
	padding: 6px 6px 6px 6px;
	position: absolute;
	width: 190px;
	background: rgb(198,194,172); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(198,194,172,1) 0%, rgba(194,186,158,1) 49%, rgba(198,191,162,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,194,172,1)), color-stop(49%,rgba(194,186,158,1)), color-stop(100%,rgba(198,191,162,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(198,194,172,1) 0%,rgba(194,186,158,1) 49%,rgba(198,191,162,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(198,194,172,1) 0%,rgba(194,186,158,1) 49%,rgba(198,191,162,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(198,194,172,1) 0%,rgba(194,186,158,1) 49%,rgba(198,191,162,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(198,194,172,1) 0%,rgba(194,186,158,1) 49%,rgba(198,191,162,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c2ac', endColorstr='#c6bfa2',GradientType=0 ); /* IE6-9 */
	border-radius:10px;
}
#login-group  ul,li{
	list-style: none;
	display: table-row-group;
	padding: 0px;
	margin: 0px;
}
#login-group ul li ul li{
	float: left;
	font-weight: bold;
	color: #454132;
	font-size: 8pt;
	margin-top: 5px;
}
#login-group ul li ul li:first-child{
	padding: 2px 5px 0px 0px;
	text-align: right;
	width: 50px;	
}
#login-group input[type='text'],[type='password']{
	width: 90px;
	height: 16px;
	font-size: 8pt;
	padding: 2px 5px 0px 5px;
	border: #A69F86 solid 1px;
	border-radius: 5px;
	background: rgb(208,197,172); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QwYzVhYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZiZjlmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMGM1YWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgb(208,197,172) 0%, rgb(251,249,246) 50%, rgb(208,197,172) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(208,197,172)), color-stop(50%,rgb(251,249,246)), color-stop(100%,rgb(208,197,172))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgb(208,197,172) 0%,rgb(251,249,246) 50%,rgb(208,197,172) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgb(208,197,172) 0%,rgb(251,249,246) 50%,rgb(208,197,172) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgb(208,197,172) 0%,rgb(251,249,246) 50%,rgb(208,197,172) 100%); /* IE10+ */
	background: linear-gradient(left,  rgb(208,197,172) 0%,rgb(251,249,246) 50%,rgb(208,197,172) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0c5ac', endColorstr='#d0c5ac',GradientType=1 ); /* IE6-8 */
}
#login-group #login-titulo{
	width: 100%;
	height: 28px;
	background: url('Imagens/topo/cadastro.png') no-repeat center center;
}



.menu
{
    background-image: url('../Imagens/bg/bgMenu.png');
    background-repeat: no-repeat;
    margin: 0px 10px 0px 5px;
}

.linkMenu
{
    color: #FFFFFF;
    padding: 5px;
}

.conteudo
{
    width: 600px;
    float: left;
}

.quadrado
{
    background-image: url('../Imagens/parceiros/quadradoBranco.png');
    width: 176px;
    height: 163px;
}

.quadradoVemPorAi
{
    background-image: url('../Imagens/home/vemporai.png');
}

.parceiro
{
    width: 200px;
    float: right;
    margin-top: -10px;
}

.placeHolder
{
    padding: 15px;
}

.musica
{
    float: left;
    width: 200px;
    margin-top: 80px;
    margin-left: 30px;
}

.oquevemporai
{
    margin-top: 200px;
    margin-left: 10px;
}

.musica .player
{
    width: 151px;
    height: 54px;
    background-image: url('../Imagens/bg/fundoRadio.png');
    color: #FFF;
    padding: 3px;
    position: absolute;
}
.musica .sanfona
{
    float: left;
    position: relative;
    margin-left: 120px;
    margin-top: -25px;
    background-image: url('../Imagens/topo/sanfona.png');
}

.login
{
    float: left;
    width: 180px;
    margin-top: 45px;
    margin-left: 55px;
}

.calendario
{
    margin-top: 10px;
}

.manugiratorio
{
    margin-top: 50px;
    margin-left: 10px;

}
#menu
{
    background-image: url('../Imagens/bg/bgContent.png');        
}


.calendarioComponente
{
    background-image: url('../Imagens/rodape/calendario.png');
    background-repeat: no-repeat;
    margin-top: 10px;
}

.btnMais
{
    position: absolute;
    margin-top: 203px;
    margin-left: -30px;
}

.login img
{
    margin-bottom: 10px;
}

.login input
{
    padding: 0px;
    border: 0;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.topo
{
    width: 800px;
}

.tituloParceiro
{
    position: absolute;
    left: 50%;
    top: 170px;
    margin-left: 202px;
}

.rodape
{
    background-image: url('../Imagens/rodape/rodape.png');
    width: 800px;
    height: 24px;
    background-color: transparent;
    margin: 0 auto;
    margin-top: -1px;
    text-align: center;
}

.listaParceiros
{
    padding-top: 15px;
    margin-top: -40px;
}


input
{
    border: none;
    background-image: url('../Imagens/input/textLogin.png');
    width: 100px;
    height: 16px;
}

.imgParceiro
{
    width: 156px;
    height: 143px;
    margin: 10px 10px 10px 10px;
    border: none;
}

.imgVemPorAi
{
    border: none;
}
