/*
	₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪
	CORPO DO SITE
*/

body{
    background: url('Imagens/bg/site.jpg') #231a17 repeat-x;
    margin: 0px 0px 30px 0px;
    font-family: Verdana, Arial;
    font-size: 14px;
}
#corpo-site{
    background-image: url('Imagens/bg/bgContent.png');
    width: 800px;
    margin: 0px auto;
    border: 1px solid #000;
}
input[type='text'],[type='password']{
	width: 90px;
	height: 16px;
	font-size: 8pt;
	padding: 2px 5px 0px 5px;
	border: #A69F86 solid 1px;
	border-radius: 5px;
	background: rgb(208,197,172); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QwYzVhYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZiZjlmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMGM1YWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgb(208,197,172) 0%, rgb(251,249,246) 50%, rgb(208,197,172) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(208,197,172)), color-stop(50%,rgb(251,249,246)), color-stop(100%,rgb(208,197,172))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgb(208,197,172) 0%,rgb(251,249,246) 50%,rgb(208,197,172) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgb(208,197,172) 0%,rgb(251,249,246) 50%,rgb(208,197,172) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgb(208,197,172) 0%,rgb(251,249,246) 50%,rgb(208,197,172) 100%); /* IE10+ */
	background: linear-gradient(left,  rgb(208,197,172) 0%,rgb(251,249,246) 50%,rgb(208,197,172) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0c5ac', endColorstr='#d0c5ac',GradientType=1 ); /* IE6-8 */
}
/*
	₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪
	TOPO DO SITE
*/
#topo
{
    width: 800px;
}

#logomarca{
    margin: 25px 0px 0px 15px;
    float: left;
	width: 178px;
	height: 146px;
    background: url('Imagens/topo/logo.png') no-repeat;
}
#titulo-logo{
	float: left;
	width: 118px;
	height: 49px;
	background: url('Imagens/topo/jeitao.png') no-repeat;
	margin: 103px 0px 0px 10px;
}
/* PARTE DO PLAYER - DEPOIS VAI SER SUBSTITUIDO PELO FLASH ₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪*/
	#player-group{
		margin: 98px 0px 0px 10px;
		background: url('Imagens/bg/fundoRadio.png') no-repeat;
		width: 157px;
		height: 60px;
		float: left;
	}
	#player-group #sanfona{
		background: url('Imagens/topo/sanfona.png') no-repeat;
		width: 118px;
		height: 100px;
		float: right;
		position: relative;
		margin: -28px -67px auto;
	}
	#player-group #panel-player{
		float: left;
		font-size: 7pt;
		font-family: "Lucida Console", "Arial";
		color: #B6B09A;
		padding: 8px;
	}
	#player-group #panel-musica{
		width: 140px;
		font-size: 7pt;
		font-family: "Lucida Console", "Arial";
		color: #454132;
		float: left;
		margin: 8px auto;
		padding-left: 5px;
	}
/*
    Login Área
    ₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪
*/
#login-group{
	width: 190px;
	height: 93px;
	float: left;
	margin: 62px 0px 0px 75px;
}
#login-group  #login-panel{
	margin: 5px auto;
	padding: 6px 6px 6px 6px;
	position: absolute;
	width: 215px;
	background: rgb(198,194,172); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(198,194,172,1) 0%, rgba(194,186,158,1) 49%, rgba(198,191,162,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,194,172,1)), color-stop(49%,rgba(194,186,158,1)), color-stop(100%,rgba(198,191,162,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(198,194,172,1) 0%,rgba(194,186,158,1) 49%,rgba(198,191,162,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(198,194,172,1) 0%,rgba(194,186,158,1) 49%,rgba(198,191,162,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(198,194,172,1) 0%,rgba(194,186,158,1) 49%,rgba(198,191,162,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(198,194,172,1) 0%,rgba(194,186,158,1) 49%,rgba(198,191,162,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c2ac', endColorstr='#c6bfa2',GradientType=0 ); /* IE6-9 */
    /* For Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c6c2ac, endColorstr=#c6bfa2);
    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#c6c2ac, endColorstr=#c6bfa2)";    

	border-radius:10px;
}
#login-group  ul,li{
	list-style: none;
	display: table-row-group;
	padding: 0px;
	margin: 0px;
}
#login-group ul li ul li{
	float: left;
	font-weight: bold;
	color: #454132;
	font-size: 8pt;
	margin-top: 5px;
}
#login-group ul li ul li:first-child{
	padding: 2px 5px 0px 0px;
	text-align: right;
	width: 50px;	
}
#login-group #login-titulo{
	width: 100%;
	height: 28px;
	background: url('Imagens/topo/cadastro.png') no-repeat center center;
}

.btnLogar input[type='image']{
    border: 0px solid;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.btnLogar{
    background: url('Imagens/input/btnEnviar.png') no-repeat center center;
    width: 49px;
    height: 25px;
    position: relative;
    float: right;
    margin-right: -25px;
    top: 25px;
}

/*
    Conteúdo
    ₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪
*/
#conteudo{
    width: 587px;
    padding-left: 13px;
    float: left;
}
#menu-central{
    margin: -20px 0px 0px 5px;
}
#placeHolder{
    border-radius: 20px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JlYjE4ZSIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZDBhZCIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  rgba(190,177,142,0.6) 0%, rgba(221,208,173,0.4) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(190,177,142,0.6)), color-stop(100%,rgba(221,208,173,0.4))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(190,177,142,0.6) 0%,rgba(221,208,173,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(190,177,142,0.6) 0%,rgba(221,208,173,0.4) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(190,177,142,0.6) 0%,rgba(221,208,173,0.4) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(190,177,142,0.6) 0%,rgba(221,208,173,0.4) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99beb18e', endColorstr='#66ddd0ad',GradientType=0 ); /* IE6-8 */
}
.elevarPlaceHolder{
    top: -25px;
    position: relative;
}

/*
    Menu Superior
    ₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪
*/
#menu
{
    background-image: url('Imagens/bg/bgMenu.png');
    background-repeat: no-repeat;
    padding: 0px 0px 0px 0px;
}
#menu li {
    display: inline;
    padding: 5px 5px 5px 5px;
}

/*
    Lateral Esquerda (Parceiros)
    ₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪
*/
#parceiro-container
{
    width: 200px;
    float: right;
    padding-top: 5px;
}

.lnkSejaParceiro{
    position: relative;
    left: 50%;
    margin-left: -69px;
}

#parceiro-titulo{
    background: url('Imagens/parceiros/parceiros.png') no-repeat center center;
    width: 200px;
    height: 57px;
    position: relative;
}

#parceiro-list{
    margin-top: -25px;
}
.quadrado
{
    background: url('Imagens/parceiros/quadradoBranco.png') no-repeat center center;
    width: 200px;
    height: 163px;
    text-align: center;
    margin-bottom: 5px;
}

/*
    Default.aspx | Vem Por Ai
    ₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪
*/

#oqvemporai-titulo{
    background: url('Imagens/home/oquevemporai.png') no-repeat center center;
    width: 240px;
    height: 61px;
}
.btnMais{
    position: relative;
    background: url('Imagens/home/btn+.png') no-repeat;
    width: 18px;
    height: 17px;
    float: right;
    margin: -20px 10px 0px 0px;
    
}
.quadradoVemPorAi
{
    background: url('Imagens/home/vemporai.png') no-repeat center center;
    position: relative;
    width: 180px;
    height: 223px;
    margin-left: 8px;
}
.imgVemPorAi
{
    position: absolute;
    width: 160px;
    height: 203px;
    padding: 10px 0px 0px 15px;
}
.dtlVemPorAi{
    margin-top: -30px;
}

/*
    Default.aspx | Calendário
    ₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪₪
*/

.calendario
{
    margin-top: 10px;
}


.calendarioComponente
{
    background-image: url('../Imagens/rodape/calendario.png');
    background-repeat: no-repeat;
    margin-top: 10px;
}






.rodape
{
    background-image: url('../Imagens/rodape/rodape.png');
    width: 800px;
    height: 24px;
    background-color: transparent;
    margin: 0 auto;
    margin-top: -1px;
    text-align: center;
}


.imgParceiro
{
    width: 156px;
    height: 143px;
    margin: 10px 10px 10px 10px;
    border: none;
}
