<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Mail.JeitoCaipira" value="allanteodoro88@hotmail.com"/>
		<add key="Application.MailServer" value="smtp.pdcase.com.br"/>
		<!-- Define a conta de email -->
		<add key="Application.MailAccount" value="tiago.rocha@pdcase.com.br"/>
		<!-- Define o password da conta de email informada -->
		<add key="Application.MailPassword" value="r6b7nng5"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<sessionPageState/>
		<customErrors mode="Off"/>
		<compilation debug="true">
		</compilation>
		<pages theme="Padrao"></pages>
		<httpModules>
			<add type="System.Web.SessionState.SessionStateModule" name="Session"/>
		</httpModules>
	</system.web>
</configuration>
